/* Ensure the header is always at the top */
.sticky-header {
    position: fixed;
    top: 0;
    z-index: 1000; /* Ensure it's above other content */
    background-color: white; /* Optional: Set a background color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
    width: 100%;
    padding: 15px 0; /* Adjust padding as needed */
  }
  
  /* Add smooth transition effects if you'd like */
  .sticky-header.navbar {
    transition: top 0.3s;
  }
  
  /* Position and style the cart item count bubble */
.cart-item-count {
    position: absolute;
    top: 15px; /* Adjust as needed */
    right: 55px; /* Adjust as needed */
    transform: translate(50%, -50%); /* This centers the count bubble relative to the icon */
    width: 18px;  /* Size of the bubble */
    height: 18px; /* Size of the bubble */
    font-size: 10px; /* Text size */
    background-color: red; /* Background color */
    color: white; /* Text color */
    border-radius: 50%; /* Circular shape */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; /* Ensure it stays on top */
  }
  
  .action-menu .icon {
    font-size: 18px;
    font-weight: 800;
  }
  
  .action-menu .search-bar {
    overflow: hidden;
  }
  
  .action-menu .search-bar,
  .action-menu .open-icon-wrap {
    width: 40px;
    height: 40px;
    background: #efeee8;
    border-radius: 40px;
    display: flex;
    justify-content: right;
    align-items: center;
    cursor: pointer;
    transition: 0.3s width cubic-bezier(0, 0.75, 0.49, 0.99);
  }
  
.action-menu .side-nav-bar .menu-btn a,
.action-menu .searchbar a {
  color: #000;
  text-decoration: none;
  line-height: 2.2;
}

.action-menu .icon.icon-menu-btn:hover {
  color: #fff;
  text-decoration: none;
}

.action-menu .menu-btn a {
  color: #07051a;
  text-decoration: none;
}

.action-menu .icon.icon-menu-btn:hover {
  color: var(--accent-color);
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .action-menu .search-bar {
    margin-top: 20px;
    width: 100%;
  }
}